<%- include('../partials/header') %>
    <%=title%>
    <p><img class="pic" src="images/books.jpg" /></p>
  	<p>Pride and Prejudice</p>
    <p>Jade City</p>
    <p>The Queen</p>
    <p>Handmaids Tale</p>
    <p>Prisoner B-9037</p>
<%- include('../partials/footer') %>