<%- include('../partials/header') %>
    <%=title%>
    <p><img class="pic" src="images/fashion.jpg" /></p>
  	<p>Bella Hadid</p>
    <p>Luka Sabbat</p>
    <p>Young Thug</p>
    <p>Gunna</p>
    <p>Rihanna</p>
<%- include('../partials/footer') %>