 <%- include('../partials/header') %>
    <%=title%>
    <p><img class="pic" src="images/marvel.webp" /></p>
  	<p>Iron Man</p>
    <p>Ant Man</p>
    <p>Guardian of the Galaxies</p>
    <p>Spiderman</p>
    <p>Black Panther</p>
<%- include('../partials/footer') %>